h1 New Note

form(method='POST', action='/notes')
  .input-group
    label(for='title') Title
    input#title(type='text', name='title')
  .input-group
    label(for='text') Text
    textarea#text(name='text')
  .input-group
    input(type='submit', value='Save Note')
